



@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.SpeakText {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.SpeakText .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(97, 9, 114);
  color: white;
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}