.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 238, 216);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 500px;
    height: 600px;
    border-radius: 12px;
    background-color: #bbf188;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  
  
  .X {
    background-color: rgb(251, 249, 252);
    height: 40px;
    width: 40px;
    left: 60%;
    text-align: center;
    transition-duration: 0.4s;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid #4CAF50;
    position: absolute;
  }
  .X:hover {
    background-color: #4CAF50;
    color: white;
  }